<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='icon' href='/images/weather.png'>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>This is a simple weather application. It tells you the current weather for a specific location.</p>
        <p>May you have a beautiful, sunny day! Thanks for checking it out. :)</p>
    </div>
    {{>footer}}
</body>

</html>